 /* display inline = span */
 /* display block = div */
 /* display inline-block = span yg bisa diatur size nya */

 /* div {
  color: blue;
  display: inline;
} */

/*# display flex  */
section {
  border: solid 1px black;
  height: 600px;
  width: 600px;
  /* display: flex; */
  /* nilai default dari display flex */
  /* flex-direction: row; */
  /* nilai default dari display flex */
  /* flex-wrap: nowrap; */
  /* justify-content: space-around; */
  /* justify-content: ; = mengatur posisi horizontal */
  /* justify-content: space-around; = memberikan jarak yg sama pada masing masing konten */
  /* justify-content: space-evenly; = memberikan jarak yg sama antara konten yg satu dengan yg lainnya */
  /* justify-content: space-between; = memberikan jarak diantara konten */
  /* align-items: center; */
  /* align-items: ; = mengatur posisi vertical */
  /* align-items: stretch; = memaksa konten menyesuaikan tinggi nya sama dengan section dengan catatan tidak ada height */

  /*# display grid  */
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 2fr 1fr 3fr;
grid-template-areas: 
"satu dua"
"tiga tiga"
"empat lima";
}

#satu {
  grid-area: satu;
}

#dua {
  grid-area: dua;
}

#tiga {
  grid-area: tiga;
}

#empat {
  grid-area: empat;
}

#lima {
  grid-area: lima;
}

div {
  /* height: 100px;
  width: 100px; */
  background-color: yellow;
  border: 1px solid black;
  text-align: center;
}